<ion-view view-title="{{post.title}}">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon icon ion-ios-heart-outline" ng-click="favourite()" ng-hide="post.favourite"></a>
        <a class="button button-icon icon icon ion-ios-heart" ng-click="dislike()" ng-show="post.favourite"></a>
    </ion-nav-buttons>
    <ion-content>
      <img ng-src="{{post.postImage}}" style="width:100%">
      <div class="item item-avatar" style="margin-top: -0.5em">
          <img ng-src="{{post.userImage}}" />
          <h2>{{post.author}}</h2>
      </div>
      <div class="item-body">
          <p style="margin-top: 0">
            {{post.content}}
          </p>
      </div>
  </ion-content>
</ion-view>
