<ion-view view-title="Favourite">
    <ion-content class="padding">

        <div class="list card" ng-repeat="post in posts">
            <div class="item item-avatar">
                <img ng-src="{{post.userImage}}">
                <h2>{{post.title}}</h2>
                <p>{{post.author}}</p>
            </div>
            <div class="item-body">
                <div class="item item-image">
                    <img ng-src="{{post.postImage}}">
                </div>
                <p>
                    <a href="#" class="subdued">{{post.favourites}} Like</a>
                    <a href="#" class="subdued">{{post.comments}} Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item larger" href="#/tab/favourite/{{post.id}}">
                    <i class="ion-ios-book-outline larger"></i>
                    Read
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>


