<ion-view view-title="Account">
  <ion-content>
      <form ng-submit="login(user)" ng-show="!isLoggedIn">
          <label class="item item-input item-floating-label">
              <span class="input-label">E-mail</span>
              <input type="text" ng-model="user.email" placeholder="E-mail">
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password" placeholder="Password">
          </label>
          <button type="submit" class="button button-full button-positive">
              Login
          </button>
      </form>

      <div ng-show="isLoggedIn">
          <div class="item item-avatar">
              <img src="http://martinzid.wz.cz/www/images/avatar.png" />
              <h2>Martin</h2>
              <p>
                  {{user.email}}
              </p>
          </div>
          <button class="button button-full button-assertive" ng-click="logout()">
              Logout
          </button>
      </div>
  </ion-content>
</ion-view>
